
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
    <div th:replace="assets/header :: header"> </div>

</head>
<body>
<div th:replace="assets/menu :: menu"> </div>

<div class="well alert-success text-center">
    <h1> Welcome <div th:text="${session.loginData['username']}"></div> To <div th:text="${session.loginData['role']}"></div> Page </h1>
</div>
</div>
</body>
</html>