<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
    <div th:replace="assets/header :: header"> </div>

</head>
<body>
<div th:replace="assets/menu :: menu"> </div>

<div class="well alert-success   text-center">
    <h1><span th:text="${session.loginData['username']}"></span></h1>
    <h2> Welcome To </h2> <h1><span class="danger" th:text="${session.loginData['role']}"></span></h1>
    <h2>Page</h2>
</div>
</body>
</html>