<div th:fragment="header">
<title>MyWebLog</title>
<link th:href="@{/css/bootstrap.min.css}" href="../../static/css/bootstrap.min.css" rel="stylesheet" />
<link th:href="@{/css/custome.css}" href="../../static/css/custome.css" rel="stylesheet" />
<script type="text/javascript" th:src="@{/js/jquery.min.js}" src="../../static/js/jquery.min.js" ></script>
<script type="text/javascript" th:src="@{/js/bootstrap.min.js}" src="../../static/js/bootstrap.min.js"></script>
</div>
