<!--<html xmlns:th="http://www.thymeleaf.org">-->
<div th:replace="assets/header :: header"> </div>
<div th:fragment="menu">

<nav class="navbar navbar-inverse">
    <div class="container-fluid">
        <div class="navbar-header">
            <a class="navbar-brand" th:href="@{/}">Baloot</a>
        </div>
        <ul class="nav navbar-nav navbar-right">
            <li><a th:href="@{/}">پیش بینی</a></li>
            <li><a th:href="@{/}">موجودی</a></li>
            <li><a th:href="@{/report}">گزارشات</a></li>
            <li><a th:href="@{/sell}">فروش</a></li>
            <li><a th:href="@{/shoping}">خرید</a></li>
            <li><a th:href="@{/}" >صفحه اصلی</a></li>
        </ul>
        <ul class="nav navbar-nav">
            <li><a th:href="@{/logout.do}">خروج</a></li>
            <li><a th:href="@{/login}">ورود</a></li>
            <li><a th:href="@{/register}">ثبت نام</a></li>
            <li>
            </li>
        </ul>
    </div>
</nav>
</div>

