<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Register</title>
    <div th:replace="assets/header :: header"> </div>
</head>
<body>
<div th:replace="assets/menu :: menu"> </div>

<div class="container">
    <h5><span class="danger" th:text="${successMessage}"></span></h5>
    <div class="panel panel-primary">
        <div class="panel-heading">REGISTER CRUD</div>
        <div class="panel-body">
            <form action="#" th:action="@{/register.do/save}">
                <input type="text" class="form-control" name="username"/>
                <br/>
                <input type="text" class="form-control" name="email"/>
                <br/>
                <input type="text" class="form-control" name="password"/>
                <br/>
                <input type="submit" class="btn btn-info" style="width: 100%;" value="SAVE"/>
            </form>
            <table class="table table-hover table-striped" style="width: 100%">
                <tr>
                    <td>ID</td>
                    <td>NAME</td>
                    <td>EMAIL</td>
                    <td>PASSWORD</td>
                    <td>OPER</td>
                    <td>OPER</td>
                </tr>

                <th:block th:each="user : ${users}">
                    <form th:action="@{/register.do/update}">
                        <tr>
                            <td><input type="text" class="form-control" name="id" th:value="${user.id}" readonly/></td>
                            <td><input type="text" class="form-control" name="username" th:value="${user.username}"/></td>
                            <td><input type="text" class="form-control" name="email" th:value="${user.email}"/></td>
                            <td><input type="text" class="form-control" name="password" th:value="${user.password}"/></td>
                            <td><input type="submit" class="btn btn-info" style="width: 100%;" th:value="UPDATE"/></td>
                            <td><input type="button" class="btn btn-danger" style="width: 100%;" th:value="REMOVE"
                                       th:onclick="removePerson([[${user.id}]])"/></td>
                        </tr>
                    </form>
                </th:block>
            </table>
        </div>
    </div>
</div>
<script th:inline="javascript">
    function removePerson(id) {
        window.location = '/register.do/remove?id=' + id;
    }
</script>
</body>
</html>