<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" xmlns:sec="http://www.w3.org/1999/xhtml">
<head>
    <title>Homepage</title>
    <div th:replace="assets/header :: header"> </div>
</head>
<body>
<div th:replace="assets/menu :: menu"> </div>
<div class="container-fluid text-center bg-grey" >
    <h1> Welcome <th:block th:text="${session?.loginData?.username} ?:'Guest'"></th:block> </h1>
</div>

</body>
</html>
